/* Default Rspress brand colors */
:where(:root) {
  --rp-c-brand: rgba(255, 0, 0, 1);
  --rp-c-brand-light: rgba(255, 0, 0, 1);
  --rp-c-brand-lighter: rgba(255, 0, 0, 0.6);
  --rp-c-brand-dark: rgba(255, 0, 0, 1);
  --rp-c-brand-darker: rgba(255, 0, 0, 1);
  --rp-c-brand-tint: rgba(255, 0, 0, .3);
}